<div class="sidebar"
     ng-class="{'sidebar-right': ctrl.isSideBarOpen}"></div>

<div ng-class="{'container-right': ctrl.isSideBarOpen}"
     width-query="container">
    <button class="sidebar-button"
            ng-click="ctrl.toggleSideBar()">
        Sidebar
    </button>
    <div width-query-class="section">Section 1</div>
    <div width-query-class="section">Section 2</div>
    <div width-query-class="section">Section 3</div>
    <div width-query-class="section">Section 4</div>
    <div width-query-class="section">Section 5</div>
    <div width-query-class="section">Section 6</div>
</div>
